<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pack.pack.application">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <uses-library android:name="com.google.android.maps"/>
        <activity
            android:name=".activity.SplashActivity"
            android:label="Squill"
            android:theme="@style/splashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:label="Squill"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.TopicDetailActivity"
            android:label="Squill"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.PackDetailActivity"
            android:label="Squill"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.InsideTopicActivity"
            android:label="Squill"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.PackAttachmentCommentsActivity" />
        <activity android:name=".activity.ImageVideoCaptureActivity" />
        <activity
            android:name=".activity.UploadActivity"
            android:label="Squill"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.FullscreenAttachmentViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Squill"
            android:theme="@style/FullscreenTheme" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.SignupActivity" />
        <activity android:name=".activity.ResetPasswordActivity" />

        <service
            android:name=".service.FetchAddressIntentService"
            android:exported="false" />

        <activity
            android:name=".activity.TopicCreateActivity"
            android:label="Squill" />
        <activity
            android:name=".activity.DiscussionCreateActivity"
            android:label="@string/title_activity_discussion"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.DiscussionViewActivity" />
        <activity
            android:name=".activity.CreatePackActivity"
            android:label="@string/title_activity_create_pack"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activity.FollowCategoryActivity"
            android:label="FollowCategoryActivity"></activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyATxB4S4Vi5K8QP_Ly5-kW-oL5mid40Fy0"/>
    </application>

</manifest>
