<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pack.pack.application">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--uses-permission android:name="android.permission.CAMERA" /-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.SplashActivity"
            android:label="SQUILL"
            android:theme="@style/splashScreenTheme"
            android:launchMode="singleInstance">

           <!-- <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>-->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:label="SQUILL"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--intent-filter>
            <data
                android:host="open"
                android:scheme="squill" />

            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
        </intent-filter-->

        <activity
            android:name=".activity.FullScreenPlayVideoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="SQUILL"
            android:theme="@style/FullscreenTheme" />
        <activity android:name=".activity.SignupActivity" />

        <service
            android:name=".service.FetchAddressIntentService"
            android:exported="false" />
        <activity
            android:name=".activity.SettingsActivity"
            android:label="Settings" />

        <service
            android:name=".service.CheckNetworkService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.SquillNTPService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.AddBookmarkService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".activity.NoConnectionEmptyActivity" />
        <activity
            android:name=".activity.IntroMainActivity"
            android:label="SQUILL"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="squill.in"
                    android:scheme="http" />
                <data
                    android:host="squill.in"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.WelcomeActivity"
            android:label="SQUILL"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.PreSignupActivity2" />
        <activity android:name=".activity.FullScreenRssFeedViewActivity" />

        <!--
        service
            android:name=".service.NotificationReaderService"
            android:enabled="true"
            android:exported="true">
        </service
        -->

        <service
            android:name=".SquillNotificationService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".FirebaseIDService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".activity.LandingPageActivity" />
        <activity
            android:name=".activity.BroadcastActivity"
            android:label="@string/title_activity_refreshments" />
        <activity android:name=".activity.NewsActivity" />
        <activity android:name=".activity.SportsActivity" />
        <activity android:name=".activity.ScienceNewsActivity" />
        <activity android:name=".activity.ArticlesActivity" />
        <activity android:name=".activity.BookmarkActivity" />
        <activity
            android:name=".activity.FullScreenNewsViewActivity"
            android:label="@string/title_activity_generic_topic_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.FullScreenBookmarkViewActivity"
            android:label="@string/title_activity_generic_topic_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.FullScreenWebViewActivity"
            android:label="@string/title_activity_generic_topic_list"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>
